<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contexts</key>
	<dict>
		<key>double_quoted_string</key>
		<array>
			<dict>
				<key>meta_scope</key>
				<string>string.quoted.double.spq</string>
			</dict>
			<dict>
				<key>match</key>
				<string>\\.</string>
				<key>scope</key>
				<string>constant.character.escape.spq</string>
			</dict>
			<dict>
				<key>match</key>
				<string>"</string>
				<key>pop</key>
				<true/>
				<key>scope</key>
				<string>punctuation.definition.string.end.spq</string>
			</dict>
		</array>
		<key>line_comment</key>
		<array>
			<dict>
				<key>meta_scope</key>
				<string>comment.line.spq</string>
			</dict>
			<dict>
				<key>match</key>
				<string>//</string>
				<key>pop</key>
				<true/>
			</dict>
		</array>
		<key>main</key>
		<array>
			<dict>
				<key>match</key>
				<string>"</string>
				<key>push</key>
				<string>double_quoted_string</string>
				<key>scope</key>
				<string>punctuation.definition.string.begin.spq</string>
			</dict>
			<dict>
				<key>match</key>
				<string>//</string>
				<key>push</key>
				<string>line_comment</string>
				<key>scope</key>
				<string>punctuation.definition.comment.spq</string>
			</dict>
			<dict>
				<key>match</key>
				<string>\b(op|this)\b</string>
				<key>scope</key>
				<string>keyword.control.spq</string>
			</dict>
			<dict>
				<key>match</key>
				<string>\b(-)?[0-9.]+\b</string>
				<key>scope</key>
				<string>constant.numeric.spq</string>
			</dict>
		</array>
	</dict>
	<key>file_extensions</key>
	<array>
		<string>spq</string>
	</array>
	<key>name</key>
	<string>SuperSQL</string>
	<key>scope</key>
	<string>source.spq</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
