<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>name</key>
    <string>ZSON</string>
    <key>fileTypes</key>
    <array>
      <string>zson</string>
    </array>
    <key>file_extensions</key>
    <array>
      <string>zson</string>
    </array>
    <key>scope</key>
    <string>source.zson</string>
    <key>contexts</key>
    <dict>
      <key>prototype</key>
      <array>
        <dict>
          <key>include</key>
          <string>comments</string>
        </dict>
      </array>
      <key>main</key>
      <array>
        <dict>
          <key>include</key>
          <string>value</string>
        </dict>
      </array>
      <key>value</key>
      <array>
        <dict>
          <key>include</key>
          <string>constant</string>
        </dict>
        <dict>
          <key>include</key>
          <string>number</string>
        </dict>
        <dict>
          <key>include</key>
          <string>string</string>
        </dict>
        <dict>
          <key>include</key>
          <string>array</string>
        </dict>
        <dict>
          <key>include</key>
          <string>object</string>
        </dict>
      </array>
      <key>array</key>
      <array>
        <dict>
          <key>match</key>
          <string>\[</string>
          <key>scope</key>
          <string>punctuation.section.sequence.begin.json</string>
          <key>push</key>
          <array>
            <dict>
              <key>meta_scope</key>
              <string>meta.sequence.json</string>
            </dict>
            <dict>
              <key>match</key>
              <string>\]</string>
              <key>scope</key>
              <string>punctuation.section.sequence.end.json</string>
              <key>pop</key>
              <true/>
            </dict>
            <dict>
              <key>include</key>
              <string>value</string>
            </dict>
            <dict>
              <key>match</key>
              <string>,</string>
              <key>scope</key>
              <string>punctuation.separator.sequence.json</string>
            </dict>
            <dict>
              <key>match</key>
              <string>[^\s\]]</string>
              <key>scope</key>
              <string>invalid.illegal.expected-sequence-separator.json</string>
            </dict>
          </array>
        </dict>
      </array>
      <key>comments</key>
      <array>
        <dict>
          <key>match</key>
          <string>/\*\*(?!/)</string>
          <key>scope</key>
          <string>punctuation.definition.comment.json</string>
          <key>push</key>
          <array>
            <dict>
              <key>meta_scope</key>
              <string>comment.block.documentation.json</string>
            </dict>
            <dict>
              <key>meta_include_prototype</key>
              <false/>
            </dict>
            <dict>
              <key>match</key>
              <string>\*/</string>
              <key>pop</key>
              <true/>
            </dict>
            <dict>
              <key>match</key>
              <string>^\s*(\*)(?!/)</string>
              <key>captures</key>
              <dict>
                <key>1</key>
                <string>punctuation.definition.comment.json</string>
              </dict>
            </dict>
          </array>
        </dict>
        <dict>
          <key>match</key>
          <string>/\*</string>
          <key>scope</key>
          <string>punctuation.definition.comment.json</string>
          <key>push</key>
          <array>
            <dict>
              <key>meta_scope</key>
              <string>comment.block.json</string>
            </dict>
            <dict>
              <key>meta_include_prototype</key>
              <false/>
            </dict>
            <dict>
              <key>match</key>
              <string>\*/</string>
              <key>pop</key>
              <true/>
            </dict>
          </array>
        </dict>
        <dict>
          <key>match</key>
          <string>(//).*$\n?</string>
          <key>scope</key>
          <string>comment.line.double-slash.js</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <string>punctuation.definition.comment.json</string>
          </dict>
        </dict>
      </array>
      <key>constant</key>
      <array>
        <dict>
          <key>match</key>
          <string>\b(?:true|false|null)\b</string>
          <key>scope</key>
          <string>constant.language.json</string>
        </dict>
      </array>
      <key>number</key>
      <array>
        <dict>
          <key>match</key>
          <string>-?(?:0|[1-9]\d*)(?:(?:(\.)\d+)(?:[eE][-+]?\d+)?|(?:[eE][-+]?\d+))</string>
          <key>scope</key>
          <string>constant.numeric.float.decimal.json</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <string>punctuation.separator.decimal.json</string>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>-?(?:0|[1-9]\d*)</string>
          <key>scope</key>
          <string>constant.numeric.integer.decimal.json</string>
        </dict>
      </array>
      <key>object</key>
      <array>
        <dict>
          <key>match</key>
          <string>\{</string>
          <key>scope</key>
          <string>punctuation.section.mapping.begin.json</string>
          <key>push</key>
          <array>
            <dict>
              <key>meta_scope</key>
              <string>meta.mapping.json</string>
            </dict>
            <dict>
              <key>match</key>
              <string>\}</string>
              <key>scope</key>
              <string>punctuation.section.mapping.end.json</string>
              <key>pop</key>
              <true/>
            </dict>
            <dict>
              <key>match</key>
              <string>"</string>
              <key>scope</key>
              <string>punctuation.definition.string.begin.json</string>
              <key>push</key>
              <array>
                <dict>
                  <key>clear_scopes</key>
                  <integer>1</integer>
                </dict>
                <dict>
                  <key>meta_scope</key>
                  <string>meta.mapping.key.json string.quoted.double.json</string>
                </dict>
                <dict>
                  <key>meta_include_prototype</key>
                  <false/>
                </dict>
                <dict>
                  <key>include</key>
                  <string>inside-string</string>
                </dict>
              </array>
            </dict>
            <dict>
              <key>match</key>
              <string>:</string>
              <key>scope</key>
              <string>punctuation.separator.mapping.key-value.json</string>
              <key>push</key>
              <array>
                <dict>
                  <key>match</key>
                  <string>,|\s?(?=\})</string>
                  <key>scope</key>
                  <string>invalid.illegal.expected-mapping-value.json</string>
                  <key>pop</key>
                  <true/>
                </dict>
                <dict>
                  <key>match</key>
                  <string>(?=\S)</string>
                  <key>set</key>
                  <array>
                    <dict>
                      <key>clear_scopes</key>
                      <integer>1</integer>
                    </dict>
                    <dict>
                      <key>meta_scope</key>
                      <string>meta.mapping.value.json</string>
                    </dict>
                    <dict>
                      <key>include</key>
                      <string>value</string>
                    </dict>
                    <dict>
                      <key>match</key>
                      <string/>
                      <key>set</key>
                      <array>
                        <dict>
                          <key>match</key>
                          <string>,</string>
                          <key>scope</key>
                          <string>punctuation.separator.mapping.pair.json</string>
                          <key>pop</key>
                          <true/>
                        </dict>
                        <dict>
                          <key>match</key>
                          <string>\s*(?=\})</string>
                          <key>pop</key>
                          <true/>
                        </dict>
                        <dict>
                          <key>match</key>
                          <string>\s(?!/[/*])(?=[^\s,])|[^\s,]</string>
                          <key>scope</key>
                          <string>invalid.illegal.expected-mapping-separator.json</string>
                          <key>pop</key>
                          <true/>
                        </dict>
                      </array>
                    </dict>
                  </array>
                </dict>
              </array>
            </dict>
            <dict>
              <key>match</key>
              <string>[^\s\}]</string>
              <key>scope</key>
              <string>invalid.illegal.expected-mapping-key.json</string>
            </dict>
          </array>
        </dict>
      </array>
      <key>string</key>
      <array>
        <dict>
          <key>match</key>
          <string>"</string>
          <key>scope</key>
          <string>punctuation.definition.string.begin.json</string>
          <key>push</key>
          <string>inside-string</string>
        </dict>
      </array>
      <key>inside-string</key>
      <array>
        <dict>
          <key>meta_scope</key>
          <string>string.quoted.double.json</string>
        </dict>
        <dict>
          <key>meta_include_prototype</key>
          <false/>
        </dict>
        <dict>
          <key>match</key>
          <string>"</string>
          <key>scope</key>
          <string>punctuation.definition.string.end.json</string>
          <key>pop</key>
          <true/>
        </dict>
        <dict>
          <key>include</key>
          <string>string-escape</string>
        </dict>
        <dict>
          <key>match</key>
          <string>$\n?</string>
          <key>scope</key>
          <string>invalid.illegal.unclosed-string.json</string>
          <key>pop</key>
          <true/>
        </dict>
      </array>
      <key>string-escape</key>
      <array>
        <dict>
          <key>match</key>
          <string>(?x:                # turn on extended mode
  \\                # a literal backslash
  (?:               # ...followed by...
    ["\\/bfnrt]     # one of these characters
    |               # ...or...
    u               # a u
    [0-9a-fA-F]{4}  # and four hex digits
  )
)</string>
          <key>scope</key>
          <string>constant.character.escape.json</string>
        </dict>
        <dict>
          <key>match</key>
          <string>\\.</string>
          <key>scope</key>
          <string>invalid.illegal.unrecognized-string-escape.json</string>
        </dict>
      </array>
    </dict>
  </dict>
</plist>
