<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contexts</key>
	<dict>
		<key>array</key>
		<array>
			<dict>
				<key>match</key>
				<string>\[</string>
				<key>push</key>
				<array>
					<dict>
						<key>meta_scope</key>
						<string>meta.sequence.json</string>
					</dict>
					<dict>
						<key>match</key>
						<string>\]</string>
						<key>pop</key>
						<true/>
						<key>scope</key>
						<string>punctuation.section.sequence.end.json</string>
					</dict>
					<dict>
						<key>include</key>
						<string>value</string>
					</dict>
					<dict>
						<key>match</key>
						<string>,</string>
						<key>scope</key>
						<string>punctuation.separator.sequence.json</string>
					</dict>
					<dict>
						<key>match</key>
						<string>[^\s\]]</string>
						<key>scope</key>
						<string>invalid.illegal.expected-sequence-separator.json</string>
					</dict>
				</array>
				<key>scope</key>
				<string>punctuation.section.sequence.begin.json</string>
			</dict>
		</array>
		<key>comments</key>
		<array>
			<dict>
				<key>match</key>
				<string>/\*\*(?!/)</string>
				<key>push</key>
				<array>
					<dict>
						<key>meta_scope</key>
						<string>comment.block.documentation.json</string>
					</dict>
					<dict>
						<key>meta_include_prototype</key>
						<false/>
					</dict>
					<dict>
						<key>match</key>
						<string>\*/</string>
						<key>pop</key>
						<true/>
					</dict>
					<dict>
						<key>captures</key>
						<dict>
